body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}
header .left {
    width: 44%;
    height: 100px;
    display: flex;
    align-items: center;
}
header .left svg{
    font-size: 40px;
}
header .left a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
header .right {
    display: flex;
}
header .right .aferisti .container-fluid .navbar-collapse ul{
    display: flex;
    gap: 50px;
}
header .right .aferisti .container-fluid .navbar-collapse ul li a{
    color: white;
}
header .right .aferisti .container-fluid .navbar-collapse ul li a:hover{

    background-color: rgb(25, 48, 43);
    transition: 0.5s;
    border-radius: 47%;
}
main{
    width: 100%;
    height: 655px;
}
main .xashuri{
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
main .ertad{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    font-size: 26px;
}
main .ertad .adzin a{
    height: 281px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
main .ertad .adzin a:hover{
    color: wheat;
    transition: 0.5s;
}
main .ertad .adzin{
    background-image: url("./images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 422px;
    height: 281px;
    margin-left: 45px;
}
main .ertad .dva a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 345px;
    text-decoration: none;
    color: white;
}
main .ertad .dva a:hover{
    color: wheat;
    transition: 0.5s;
}
main .ertad .dva{
    background-image: url("./8bb438_607e8fb1e7e242169d489092dfa49bac_mv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 422px;
    height: 345px;
    margin-left: 23px;
}
main .ertad .tri a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 281px;
    text-decoration: none;
    color: white;
}
main .ertad .tri a:hover{
    color: wheat;
    transition: 0.5s;
}
main .ertad .tri{
    background-image: url("./8bb438_2db448c5d9744318a9958d62af6d8170_mv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 422px;
    height: 281px;
}
footer{
    width: 100%;
}
footer p{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}